<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="data:;base64,=">
  <link rel="icon"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">

  <title>Flask HTML Template</title>
  <style>
   .nav-item {
      margin-top: 1vw;
      cursor: pointer;
    }

    

    .nav-link:hover {
      color: #FF9A3D;
    }
  </style>
</head>

<body>
  <div class="w-screen h-screen">
    <!-- nav bar  -->
    <nav class="bg-black">
      <div class="container mx-auto">
        <div class="relative flex h-16 items-center justify-between">
          <a href="/index.html" class="flex text-[#FF9A3D] font-bold text-2xl
            tracking-wide italic">KMITL COOP</a>
          <div class="absolute right-0">
            <div class="flex space-x-4 text-white">
              <a href="news.html" class="px-3 py-2 hover:text-[#FF9A3D]">ข่าวสาร</a>
              <a href="document.html" class="px-3 py-2 font-semibold
                text-[#FF9A3D]">เอกสาร</a>
              <a href="form.html" class="px-3 py-2 hover:text-[#FF9A3D]">ฟอร์ม</a>
              <a href="detail.html" class="px-3 py-2 hover:text-[#FF9A3D]">รายละเอียด</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mx-auto justify-center pt-14">
      <div class="flex items-center justify-center">
        <div class="w-1/3 h-10"></div>
      </div>

      <!-- Files (All) -->
      <div class="pt-10 text-[#FF9A3D] font-bold text-2xl tracking-wide
        italic ">Files <span class="text-base text-[#9C9C9C]">(All)</span>
      </div>
      {% for item in my_array %}
      <div class="border rounded-2xl my-5 py-4 px-10 flex drop-shadow-md
        bg-[#F8EDE4]">
        <img src="{{ url_for('static', filename='images/pdf.png')}}" width="30" height="200"/>
    
        <div class="flex px-14 items-center">
          <p>{{item}}</p>
        </div>
        <div class="absolute right-0 pr-10 ">
          <div class="flex space-x-6 pt-1">
            <a class="font-bold" href="{{ url_for('static', filename='document/'+item)}}" download>Download</a>
            <img src="{{ url_for('static', filename='images/download.png')}}" width="30" height="200"/>
          </div>
        </div>
      </div>
      {% endfor %}
      

      <!-- Files (For company) -->
      <div class="pt-10 text-[#FF9A3D] font-bold text-2xl tracking-wide
        italic ">Files <span class="text-base text-[#9C9C9C]">(For company)</span>
      </div>

      <div class="border rounded-2xl my-5 py-4 px-10 flex drop-shadow-md
        bg-[#F8EDE4]">
        <img src="./images/pdf.png" width="30" height="200"/>
        <div class="flex px-14 items-center">
          <p>Coop302.pdf</p>
        </div>
        <div class="absolute right-0 pr-10 ">
          <div class="flex space-x-6 pt-1">
            <p class="font-bold">Download</p>
            <img src="./images/download.png" width="30" height="200"/>
          </div>
        </div>
      </div>

      <div class="border rounded-2xl my-5 py-4 px-10 flex drop-shadow-md
        bg-[#F8EDE4]">
        <img src="./images/pdf.png" width="30" height="200"/>
        <div class="flex px-14 items-center">
          <p>Coop306.pdf</p>
        </div>
        <div class="absolute right-0 pr-10 ">
          <div class="flex space-x-6 pt-1">
            <p class="font-bold">Download</p>
            <img src="./images/download.png" width="30" height="200"/>
          </div>
        </div>
      </div>


    </div>


  </div>
</body>

</html>